@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,a,p,span,strong,button,input{
    font-family: 'Roboto', sans-serif;
}
/* header */

.srcch_wrap::after {
    content: "";
    display: block;
    border-right: 1px solid #ABA3A3;
    position: absolute;
    width: 1px;
    height: 40px;
    left: 7px;
    top: -5px;
}
.swiper .swiper-initialized .swiper-horizontal .swiper-pointer-events.swiper-slide {
    width: 100px !important;
}
.swiper-catch {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) !important;
}

.search-swiper-catch {
    position: absolute;
    left: 0;
    top: 45%;
    transform: translateY(-45%) !important;
}
.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.swiper-pagination-bullet {
    background: transparent;
    width: 13px;
    height: 13px;
    margin-right: 18px;
    border-radius: 10px;
    background: #ffffff;
    display: block;
    outline: none;
    cursor: pointer !important;
}

.swiper-pagination-bullet-active {
    background: #fe9ec7;
    box-shadow: 0 0 0 8px rgb(254 158 199 / 20%);
}

.swiper-pagination-bullet:last-child {
    margin-right: 0;
}

/* Animations */
@keyframes swiperCatchAnimation {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}

.swiper-slide .swiper-catch {
    opacity: 0;
}

.swiper-slide-active .swiper-catch {
    animation-name: swiperCatchAnimation;
    animation-duration: 0.4s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}


.prev_bnr {
    top: 50%;
    height: 62px;
    border-radius: 0 8px 8px 0;
    color: #000000;
    width: 30px;
    left: 0;
    transform: translateY(-50%);
}

.next_bnr {
    top: 50%;
    height: 62px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    right: 0;
    transform: translateY(-50%);
}